.taskParent {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.taskRender {
    width: 100%;
    height: fit-content;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
} 

.taskRender input {
    min-width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 100%;
    vertical-align: middle;
    -webkit-appearance: none;   
    cursor: pointer;
}

.taskRender input:checked {
    background-color: blue;
}

._task{
    width: auto;
    height: fit-content;
}

.taskRenderimg {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.showCompleted {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px){
    .showCompleted{
        font-size: smaller;
    }
}
@media only screen and (max-width: 600px){
    .showCompleted{
        font-size: x-small;
    }
}