.completed {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    padding-left: 8%;
    margin-top: 30px;
    position: relative;
    z-index: 2;
    gap: 10px;
}

.completeStatus {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.expand {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 25%;
    cursor: pointer;
}

.myTask {
    width: 100%;
    text-align: left;
    font-weight: 500;
    text-decoration: line-through;
}

.check {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.taskComplete {
    text-align: left;
    font-size: 22;
    padding-left: 5%;
}

.completeContainer {
    display: flex;
}